<div class="text-center">
  <h2>High Scores</h2>
  {{#each HighScore.score as |score| }}
  <p>{{user.name}}: {{score}}</p>
  {{/each}}
  <p>
    <button class="btn btn-primary">Play Again</button>
  </p>
</div>
