<div class="row">
  <div class="col-md-6">
    
   <h2>Login</h2>
<form class="form login-form">
  <div class="mb-3">
    <label for="name-login" class="form-label">Name</label>
    <input type="text" class="form-control" id="name-login">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-dark">Login</button>
  <div id="login-error-message"></div>
</form>
  </div>
  
<script src="/js/login.js"></script>
