<div class="row mt-4">
  <div class="col-md-6 text-center">
    <div id="accountCreated"></div>
    <h3>Welcome, {{user}}!</h3>
    <p>
      <a href="/phaserGame/index.html"><button class="btn btn-dark">Start the Game</button></a>
    </p>
  </div>
  <div class="card overflow-auto col-md-6 text-center">
    <div class="card-body">
      <h2>Recent Scores</h2>
      {{#each scores}}
      <div class="score-entry">
        <p>{{username}}, {{score}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="/js/profile.js"></script>