<div class="row mt-4">
  <div class="col-md-6 text-center text-white">
    <div id="accountCreated"></div>
    <h3>Welcome, {{user}}!</h3>
    <p>
      <a href="/phaserGame/index.html"><button class="btn btn-dark">PLAY NOW</button></a>
    </p>
  </div>

  <div class="card col-md-6 text-center" style="background-color: #212529; border-radius: 10px; padding: 10px;">
    <div class="card-body overflow-auto" style="max-height: 400px;">
      <h2 style="color: #fff;">Recent Scores</h2>
      {{#each scores}}

      <div class="score-entry" style="color: #fff;">
        <p>{{username}}, {{score}}</p>
      </div>

      {{/each}}
    </div>
  </div>

</div>

  
<script src="/js/profile.js"></script>